html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
  padding: 0 1.5rem;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

h1 {
    margin: 0;
    font-size: 80%;
}

.react-datepicker-wrapper {
    float: right;
    margin-right: 50px;
}

.controls {
    float: right;
    margin-right: 50px;
}

.controls button {
    height: 25px;
    width: 25px;
    padding: 4px;
    -webkit-appearance: none !important;
}

small {
    font-size: 50%;
}

.legend {
    float: right;
    margin-right: 50px;
}

.credits {
    float: right;
    margin-right: 50px;
    margin-top: 0;
}

.heavy {
    font-weight: bold;
}

.light {
    font-style: italic;
}
